spring:
  application:
    name: discodeit
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/discodeit?sessionTimezone=UTC}
    username: ${SPRING_DATASOURCE_USERNAME:discodeit_user}
    password: ${SPRING_DATASOURCE_PASSWORD:discodeit1234}
    driver-class-name: org.postgresql.Driver
  sql:
    init:
      mode: never
  flyway:
    enabled: true
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        physical_naming_strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
        jdbc.time_zone: UTC
    open-in-view: false
    defer-datasource-initialization: true

server:
  port: 8080   # prod 서버 포트

logging:
  level:
    org.springframework.cache: DEBUG
    org.springframework.data.redis.cache: DEBUG