spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:prod}  #
  application:
    name: discodeit
  servlet:
    multipart:
      max-file-size: 1MB
      max-request-size: 10MB
springdoc:
  api-docs:
    enabled: true
    path: /api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    display-request-duration: true
    persist-authorization: true

discodeit:
  storage:
    type: ${STORAGE_TYPE:local}
    local:
      root-path: ${STORAGE_LOCAL_ROOT_PATH:storage}
    s3:
      access-key: ${AWS_S3_ACCESS_KEY:dummy_access_key}
      secret-key: ${AWS_S3_SECRET_KEY:dummy_secret_key}
      region: ${AWS_S3_REGION:dummy_region}
      bucket: ${AWS_S3_BUCKET:dummy_bucket}
      presigned-url-expiration: ${AWS_S3_PRESIGNED_URL_EXPIRATION:600} # (기본값: 10분)
  admin:
    username: admin
    email: admin@discodeit.com
    password: admin

security:
  jwt:
    issuer: disocdeit
    secret: your-jwt-secret-key-here-12345628219012345  # 32char 이상 길게 써줘야함!!
    #    access-token-validity-seconds: 3600 # 1시간
    access-token-validity-seconds: 3600
    refresh-token-validity-seconds: 86400 # 14일

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, loggers
  endpoint:
    health:
      show-details: always
  info:
    env:
      enabled: true
    java:
      enabled: true
    os:
      enabled: true

info:
  app:
    name: Discodeit
    version: 1.7.0
    java:
      version: 17
    spring-boot:
      version: 3.4.0
  datasource:
    url: ${spring.datasource.url}
    driver: ${spring.datasource.driver-class-name}
  jpa:
    ddl-auto: ${spring.jpa.hibernate.ddl-auto}
  storage:
    type: ${discodeit.storage.type}
    path: ${discodeit.storage.local.root-path}
  multipart:
    max-file-size: ${spring.servlet.multipart.max-file-size}
    max-request-size: ${spring.servlet.multipart.max-request-size}

server:
  servlet:
    session:
      timeout: 30m